* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    text-align: center;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.25fr 1fr 0.5fr 0.5fr 0.25fr;
grid-template-areas:
        "header menu menu menu"
        "hero hero hero hero"
        "main main image image"
        "main main extra extra"
        "banner banner banner banner"
    ;
}

header {
    background-color: aqua;
    grid-area: header;
    align-items: center;
    display: grid;
}

.menu {
    background-color: aquamarine;
    grid-area: menu;
    align-items: center;
    display: grid;

}

.hero {
    background-color: bisque;
    grid-area: hero;
    display: grid;
    align-items: center;
}

main {
    background-color: rgb(82, 82, 82);
    grid-area: main;
    align-items: center;
    display: grid;

}

.banner {
    background-color: burlywood;
    grid-area: banner;
    align-items: center;
    display: grid;

}

.extra {
    background-color: cadetblue;
    grid-area: extra;
    display: grid;
    align-items: center;
}

.image {
    background-color: cornsilk;
    grid-area: image;
    align-items: center;
    display: grid;

}

@media(max-width: 1200px) {

    .container {
        height: 100vh;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.25fr 1fr 0.5fr 0.5fr 0.5fr;
        grid-template-areas:
            "header menu menu menu"
            "hero hero hero hero"
            "main main image image"
            "main main extra extra"
            "banner banner banner banner"
        ;
    }
}


@media(max-width:810px) {
    .container {
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 1.25fr 1fr;
        grid-template-rows: 0.25fr 1fr 1fr 0.5fr 0.5fr;
        grid-template-areas:
            "header header header"
            "hero hero hero"
            "menu main main"
            "menu banner banner"
            "menu extra image"
        ;
    }

}

@media(max-width:480px) {

    .container {
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: 0.25fr 0.35fr 1fr 1.25fr 0.75fr 0.75fr 0.75fr;
        grid-template-areas:
            "header"
            "menu"
            "hero"
            "main"
            "banner"
            "extra"
            "image"
        ;
    }

}
